.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  background-image: url('./images/bird_back.jpg');
  background-position: center, top right;
  background-size: cover, contain;
  background-repeat: no-repeat, no-repeat;
  height: 800px;
}

.inputDiv{
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputDiv input{
  border: 1px solid rgb(255, 1, 1);
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
}

.inputDiv input:hover{
  border: 2px solid green;
  color: blue;
  background-color: yellow;
  padding: 13px;
  cursor: pointer;
  border-radius: 10px;
}

.buttonDiv{
  width: 300px;
  margin: 0 auto;
}

.buttonDiv button{
  margin: 10px;
  padding: 10px;
  width: 70px;
  height: 35px;
  background-color: #a8ddec;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 5px;
}

.buttonDiv button:hover{
  width: 75px;
  height: 38px;
  border: 2px solid green;
  color: red;
  font-weight: bold;
  background-color: yellow;
  cursor: pointer;
  border-radius: 10px;
}

.tableData{
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.dataTable {
  width: 100%;
  border-collapse: collapse; /* Merges borders for a cleaner look */
}

.dataTable th, .dataTable td {
  border: 2px solid #fb0404; /* Light gray border */
  padding: 8px; /* Space inside cells */
  text-align: center; /* Align text to the left */
  font-weight: bold;
  color: yellow;
}

.dataTable th {
  background-color: #02ffea; /* Light gray background for headers */
  color: #333; /* Darker text color for contrast */
  border-bottom: 3px solid #333; /* Thicker border at the bottom of headers */
}

.dataTable tr:nth-child(even) {
  background-color: #f9f9f9; /* Alternate row background color */
}

.dataTable tr:hover {
  background-color: #e2e2e2; /* Highlight row on hover */
}

.tZero{
  display: none;
}